.base {
    width: 1000px;
    height: 300px;
    background-color: gray;
    display: flex;
    
   /* justify-content: start; */
   /* 제일 맨 앞부터 배치 */

   /* justify-content: end; */
   /* 제일 맨 뒤부터 배치 */

   /* justify-content: center; */
   /* 가운데 배치 */

   /* justify-content: space-around; */
   /* 서로 띄워서 배치 */

   /* justify-content: space-between; */
   /* 앞과 뒤 끝에 맞춰서 서로 띄워 배치 */

    /* align-items: center; */
    /* 왼쪽 끝, 위아래 가운데 배치 */
    
    /* align-items:end; */
    /* 왼쪽 제일 아래 배치 */
}

.redBox {
    width: 150px;
    height: 150px;
    background-color: red;
    vertical-align: middle;
    line-height: 150px;
    text-align: center;
}

.blueBox {
    width: 150px;
    height: 150px;
    background-color: blue;
    line-height: 150px;
    text-align: center;
}

.greenBox {
    width: 150px;
    height: 150px;
    background-color: green;
    line-height: 150px;
    text-align: center;
}

.purpleBox {
    width: 150px;
    height: 150px;
    background-color: purple;
    line-height: 150px;
    text-align: center;
}

span {
    font-size: 45px;
    margin-bottom: auto;
    margin-top: auto;
}