* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background-color: #333;
}

#wrap {
    width: 640px;
    margin: 100px auto 0 auto;
}

#nav {
    display: flex;
}

#nav li a {
    display: block;
    border: 2px solid #bbb;
    border-radius: 5px;
    margin: 0 6px 10px 0;
}

#nav li a img {
    width: 70px;
}

#nav li a.active {
    border: 2px solid #fff;
}

#window {
    clear: both;
}