*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'LABdigital';
    src: url(../fonts/LAB디지털.ttf)
}

body{
    font-family: 'LABdigital';
}
#clock{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 100px auto 0;
}
#clock img{
    position:absolute;
    top: 0;
    left: 0;
}
