* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
    vertical-align: top;
}

li {
    list-style: none;
    float: left;
    width: 80px;
}

/*img의 크기 72px - 여백(8px)*/

h1 {
    text-align: center;
}

#banner_wrap {
    width: 260px;
    padding: 10px 20px;
    margin: 0 auto;
    border: 1px solid #aaa;
}

#banner {
    width: 800px;
    border: 1px solid red;
    height: 54px;
    transition: all 0.5s;
}

#frame {
    width: 232px;
    height: 54px;
    position: relative;
    margin: 10px auto;
    border: 1px solid blue;
    /* overflow: hidden; */
}