*{margin: 0;padding: 0;}

#container{
        width: 960px;
        padding: 20px;
        margin: 10px auto 0;
        /* 바깥 여백 위 10px 좌우 auto 아래 0 */
}
#header{
    padding: 30px 20px;
    margin-bottom: 20px;
}
#contents{
    width: 490px;
    padding: 30px 20px;
    margin-bottom: 20px;
    float:left;
}
#left_sidebar{
    width: 150px;
    padding: 30px 20px;
    float:left;
    margin-bottom: 20px;
}
#right_sidebar{
    width: 150px;
    padding: 30px 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    float:right;

}
#footer{
    clear: both;
    padding:30px 20px;
}
