body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
#cat-container{
    position: relative;
}
#cat{
    width: 100px;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}   