*{margin: 0; padding: 0;}

ul{list-style: none;}
a{text-decoration: none;color: #333;}
.cf:after{
    content:'';
    display: block;
    clear:both;
}
header{
    width: 1000px;
    height: 250px;
    border: 1px solid #333;
    margin:0 auto;
    position: relative;
}
header .sns{
    position: absolute;
    top: 20px;
    left: 10px;
}
header .sns li{
    float: left;
    margin-left: 10px;
}
header .lnb{
    position:absolute;
    right: 10px;
    top: 10px;
}

/* lnb 사이에 bar 라는 이미지 삽입 */
header .lnb li{
    float: left;
    font-size: 13px;
    padding: 10px;
    background: url(../images/bar.png) no-repeat 0 50%;
}
header .lnb li:nth-child(1){
/* header lbn의 li 중 첫번째 */
/* bar 이미지가 안보이게끔 설정 */
    background: none;
}

        /* 로고 */
header .logo{
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header .logo img{
    width: 100%;
}

        /* 메인 메뉴 */
.gnb{
    position: absolute;
    top: 220px;
    left: 0;
    width: 100%;

}
.gnb > li{
    float: left;
    background-color: rgba(255, 0, 0, 0.5);
    position: relative;
    /* width: 100%; */
}
/* 주석 위아래 두개의 방법으러도 너비 설정이 된다 */
.gnb li a{
    display: block;
    /* width: 20%; */
    /* li의 5개의 a가 들어가야 하기에 100 나누기 5로 20을 지정함 */
    width: 200px;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    color:#fff;
}
.gnb li ul{
    position: absolute;
    background-color: rgba(255, 0, 0, 0.5);
    display: none;
}
.gnb li:hover ul{
    display: block;
}